.login {
    background: #ffffff;
    color:#363636;
    width: 600px;
    border-radius: 10px;
    padding: 2rem 5rem;

}
.login input {
    font-size: 1rem;
}
.toggle {
    text-align: left;
    display: flex;
    align-items: center;
    gap:1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
.toggle input {
    height:20px;
    border: 1px solid #999999;
    width: 20px;
    color: aqua;
}
input[type='radio']:checked:before {
    background: red;
}
.or {
    display:flex;
    align-items: center;
    justify-content: center;
}
.line {
    height:2px;
    width:100%;
    background:#6d6d6d;
}
.or p {
    margin:0 1rem;
}
.btn.fb-btn:hover {
    background-color: #4267b2b7;
    border: 2px solid rgb(66, 103, 178);
}
.btn.fb-btn {
    color: white;
    background: rgb(66, 103, 178);
    border: 2px solid white;
}
.btn.home-btn {
    position: absolute;
    top: 40px;
    left:40px;
    color: var(--color-maroon);
    border: 2px solid var(--color-maroon);
}
.btn.home-btn:hover{
    background-color: var(--color-maroon);
    color: white;
    border: 2px solid white;
}