.cart-float-container {
    position: fixed;
    top: 86px;
    bottom: 0;
    right: 0;
    left: 60%;
    background: #f0ecec;
    color: gray;
    z-index: 50;
    padding: 1.5rem 0 0 1rem;
    box-shadow: -9px 0px 20px 0px #000000ad;
}
.cart-float-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    margin-bottom: 2rem;
}
.cart-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.1rem 0 1rem;
    margin: auto 1rem;
}
.cart-item-header h4{
    width: 100px;
}
.cart-item-container{
    margin: 1rem;
    height: 65vh;
    overflow-y: scroll;
    background-color: gray;
    border-radius: 15px;
    box-shadow: -1px 6px 8px 5px #0000004f;
}
.cart-item-container .cart-item{
    display: flex;
    justify-content: space-between;
}
.cart-total {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: auto;
    text-align: right;
    padding-right: 2rem;
}
.close-btn {
 border: none;
 background: none;
}
.empty-cart {
    background: rgba(255, 255, 255, 0.87);
    font-weight: 100;
    font-size: 3rem;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.checkout-btn {
    font-size: 2rem;
    position: absolute;
    left: 40px;
    font-weight: 400;
    bottom: 10px;
    padding: 0.5rem 5rem;
}