.container.pop-up{
    position: absolute;
    left: 0;
    right:0;
    top:39%;
    background: #ffffff;
    color: hsl(0deg 0% 13%);
    border-radius: 30px;
    box-shadow: -2px 11px 20px 0px;
    padding: 0.5rem;
    width: 506px;
    z-index: 1;
}
.pop-head {
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
}
.pop-head svg{
    color:rgba(175, 0, 0, 0.596);
}
.pop-head svg:hover{
    color:rgb(175, 0, 0);
    cursor: pointer;
}
.pop-title {
    margin-top: 0.5rem;
    font-size: 2rem;
    color: #39b939;
}
.pop-body {
    font-size: 1.5rem; 
    margin:1rem;
}