.cart-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 225px;
    padding: 0 1rem;
    background: #ffffff;
    color: rgb(34, 34, 34);
    font-size: 1.5rem;
}
.cart-item:nth-child(odd) {
    background: #e4e3e3;
}
.cart-item .remove-icon.circle {
    background: rgb(190, 18, 18);
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
}
.cart-item .remove-icon.circle:hover {
    opacity: 1;
    cursor: pointer;
}
.cart-item .remove-icon.circle svg{
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    left: 0.2px;
    right: 0;
    position: absolute;
    margin: 7.5px;
    transition: all 0.3s ease;
}
.cart-item-name {
    padding-top: 1rem;
    width: 120px;
}
.item-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0rem 0;
    object-fit: contain;

}
.item-img img {
        border-radius: 5px;
        object-fit: cover;
        height: 120px;
        width: 120px;
}
.sub-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.attribute {
    min-width:100px
}
.category {
    opacity: 0.3;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}
.item-info h3 {
    font-size: 1rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: center;
    height: 30px;
}

.item-info {
    text-align: right;
}
.label-item{
    opacity:0.7;
}