.cart-item {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    height: 225px;
    padding: 0 1rem;
    background: #ffffff;
    color: rgb(34, 34, 34);
    font-size: 1.5rem;
}
.cart-item:nth-child(odd) {
    background: #e4e3e3;
}
.cart-item .remove-icon.circle {
    background: gray;
    color: #ffffff;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    opacity: 0.7;
    position: absolute;
    top: 10px;
    left: 10px;
}
.cart-item .remove-icon.circle:hover {
    opacity: 1;
    cursor: pointer;
}
.cart-item .remove-icon.circle svg{
    width: 50%;
    height: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: auto;
}
.cart-item-name {
    padding-top: 2rem;
    width: 120px;
}
.item-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 15px;
    margin: 0rem 0;
    object-fit: contain;

}
.item-img img {
    width:100%;
    border-radius: 5px;
}
.sub-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.attribute {
    min-width:100px
}
.category {
    opacity: 0.8;
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
}
.item-info h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 0;
    text-align: left;
    width: 150px;
    overflow: hidden;
    height: 30px;
}
.item-info {
    width: 200px;
}
.label-item{
    opacity:0.7;
}