.search-container{
    position: relative;
}
.search-bar {
    border-radius: 50px;
    height: 50px;
    max-width: 500px;
    font-size: 1.3rem;
    padding: 0 4rem 0 2rem;
}
.search-bar:focus {
    outline: none;
}
.search-icon {
    position: absolute;
    color: rgb(41, 41, 41);
    top: -10px;
    bottom: 0;
    margin: auto;
    right: 20px;
    height: min-content;
    display: block;
    transition: all 0.3s ease-in-out;
}
.search-icon:hover {
    cursor: pointer;
    color: rgb(190, 35, 35);
    transform: scale(1.05);
}