.main {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 40px;
    top: 20%;
    background: #ffffff;
    margin: 1rem;
    border-radius: 5px;
    overflow-y: scroll;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.1rem 0 1rem;
    margin: 1rem 1rem 0;
}
.cart-items-container {
    height: 567px;
    margin: 0 1rem;
    overflow-y: auto;
    border-radius: 15px;
    box-shadow: -1px 6px 8px 5px #0000004f;
}
.titles {
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    color: darkgray;
}
.cart.header div:nth-child(1) {
    width: 120px;
}
.cart.header div:nth-child(2) {
    width: 100px;
}
.cart.header div:nth-child(3) {
    width: 100px;
}
.cart.header div:nth-child(4) {
    width: 100px;
}
.btn.home-btn.cart-back-btn {
    bottom: 20px;
    top:auto;
}

.empty-cart {
    background: rgba(255, 255, 255, 0.87);
    font-weight: 100;
    font-size: 3rem;
    height: 100%;
    color: gray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}