.main {
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 40px;
    top: 20%;
    background: #ffffff;
    margin: 1rem;
    border-radius: 5px;
    overflow-y: scroll;
}
.header {
    display: grid;
    grid-template-columns: 5.5fr 1fr 1fr 1fr;
    color:black;
    margin:1.5rem 4.5rem;
    gap:2rem;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}
.titles {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}
.cart.header div:nth-child(1) {
    flex: 1 1 50%;
}
.cart.header div:nth-child(2) {
    flex: 1 2;
}
.cart.header div:nth-child(3) {
    flex: 1 2;
}
.cart.header div:nth-child(4) {
    flex: 1 2;
}
.btn.home-btn.cart-back-btn {
    bottom: 20px;
}