.products-body {
    background-color: white;
    color: rgb(116, 116, 116);
    padding: 0 50px;
}

.product-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3rem;
    flex-wrap: wrap;
}